@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

* section{
  padding: 100px; 
  width: 100%; 
  height: auto;
}

* h2{
  font-size: 48px; 
  font-weight: 600;
  letter-spacing: 1px;
}

/* nav-bar-styles */

.nav-bar{
  width: 100%;
  background-color: black;
  color: white;
  widows: 100%; 
  padding-left: 100px; 
  padding-right: 100px;
  padding-top: 40px; 
  padding-bottom: 40px;
  position: fixed;
}

.nav-container{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
}

.nav-links-menu{
  display: flex; 
  flex-direction: row;
}

.nav-list{
  display: flex; 
  flex-direction: row; 
  align-items: start; 
  justify-content: start;  
  column-gap: 32px; list-style: none;
}



.nav-items a{
  color: white; 
  font-size: 16px; 
  text-decoration: none;
}

.dropdown-content li{
  list-style: none;
}

.dropdown-content {
  margin-top: 20px;
  display: none;
  position: absolute;
  background-color: white;
  width: fit-content;
  color: black;
  padding: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid; 
  border-radius: 8px;
  
}


.dropdown-content a {
  padding: 16px;
  display: block;
  font-size: 16px;
  align-items: center; 
  color: grey;
  text-align: left;
  color: black;
  width: 100%;
  align-items: center;
  
}

.dropdown-content a:hover {
  background-color: #f7f7f7; 
  color: #e02727;
 
}

/* Show the dropdown menu on hover */
.nav-items:hover .dropdown-content {
  display: block;
}

.mobile-menu{
  display: none;
}

/* .\hero-section */

.hero-section{
  width: 100%;
  height: 100vh;
  padding: 0px;
  background-image: url(bg.webp);
  background-repeat: no-repeat; 
  background-size: cover;
}

.hero-section-container{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.653); 
  padding: 100px; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
}

.hero-description{
  width: 100%;
  display: flex; 
  flex-direction: column; 
  row-gap: 48px;
}

.title h5{
  font-size: 20px; 
  font-weight: 500; 
  color: #e02727; letter-spacing: 4px;
}

.heading h1{
  font-size: 70px; line-height: 86.4px; color: white;
}

.get-in-touch-link button{
 padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px;background-color: #e02727; 
 border: none; border-radius: 4px;
}

.get-in-touch-link :hover {
  background-color: #f7f7f7; color: #e02727;
 
}

.get-in-touch-link{
  display: flex; flex-direction: row; column-gap: 32px; width: fit-content;
}

.get-in-touch-link a{
  font-size: 16px; text-decoration: none; color: white; font-weight: 400;
}

/* who-we-are*/

.who-we-are-container{
  width: 100%;display: flex; flex-direction: row; justify-content: space-between; align-items: center; column-gap: 150px;
}

.caption{
  display: flex; flex-direction: column; row-gap: 48px; width: 50%;
}

.title-content{
  display: flex; flex-direction: column; row-gap: 12px;
}

.description{
display: flex; flex-direction: column; row-gap: 8px;
}

.paragraph{
  display: flex; flex-direction: column; row-gap: 20px;
}

.paragraph p{
  font-size: 18px; line-height: 32px; font-weight: 300;
}

.start-number{
  display: flex; width: 100%; flex-direction: column; row-gap: 64px;
}

.stat{
  display: flex; flex-direction: row; width: 100%;flex-wrap: wrap; justify-content: space-between; row-gap: 32px;
}

.stat-card{
  display: flex; flex-direction: column; width: 50%; justify-content: start;
}

.stat-card h3{
  font-size: 36px; color: #e02727; font-weight: 700;
}

.stat-card p{
  font-size: 20px; line-height: 27px; font-weight: 500;
}

.image{
  width: 50%; height: auto;display: flex; flex-direction: column; row-gap: 16px;
}

.image img{
  width: 100%; border-radius: 12px;
}

.image-2{
  display: flex; flex-direction: row; width: 100%; justify-content: space-between; column-gap: 16px;
}

.image-2 img{
  width: 100%; background-size: cover; 
}

.learn-more-link a{
  padding-left: 8px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px;background-color: none; 
 border: none; border-bottom: 4px solid; border-color: #e02727
 ; text-decoration: none; font-size: 18px; color: black; font-weight: 400;
}


/* core-services */

.core-services-section{
  background-color: #01040e;
}
.core-services-container{
  width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white;
  row-gap: 64px;
}

.core-services-caption{
  display: flex; flex-direction: column; row-gap: 12px;align-items: center; justify-content: center;
}

.core-services-title{
  display: flex; flex-direction: column; align-items: center; justify-content: center; row-gap: 4px;
}

.core-services-title p{
  font-size: 18px; line-height: 28px; font-weight: 300; text-align: center; max-width: 60%;
}

.services-container{
  display: flex; flex-direction: row; column-gap: 32px; align-content: center; justify-content: center;
}

.services-card{
  display: flex; flex-direction: column; row-gap: 16px; padding: 40px; border-color: white; border: 2px solid; align-items: center;
}

.icons{
  font-size: 64px;
}

.card-description{
  display: flex; flex-direction: column; row-gap: 8px;align-items: center;
}

.card-description h3{
  font-size: 28px;
}
.card-description p{
  font-size: 18px; line-height: 27px; font-weight: 300; text-align: center; max-width: 80%;
}

/* core-images */

.core-services-image{
  padding-top: 100px; padding-left: 32px; padding-bottom: 32px; padding-right: 32px;
}
.core-images-container{
  display: flex; flex-direction: row; width: 100%; flex-wrap: wrap; align-items: start; justify-content: space-between;
}

.images{
  background-image: url(ship.jpg);
  width: 32%; background-repeat: no-repeat; background-size: cover;height: 400px;
}

.second-frame{
  background-image: url(ship2.webp);
}

.third-frame{
  background-image: url(ship3.jpg);
}

.image-overlay{
  display: flex; flex-direction: column; row-gap: 32px; background-color: #01040e3d; align-items: start; justify-content: center; width: 100%; height: 100%; padding: 40px;
}
.title h4{
  font-size: 26px; color: white;
} 

.links button{
  padding: 12px 32px; background-color: #01041297; width: fit-content; border: none; font-size: 16px; color: white;
  border-radius: 8px;
}

.links  :hover{
   background-color: #e02727; border-radius: 16px;
}


.images  :hover{
  border-left: 8px solid; border-color: #e02727;
}

/* testimonials */

.testimonials-container{
  display: flex; flex-direction: column; row-gap: 64px;
}

.testimonials-caption{
  display: flex; flex-direction: column; row-gap: 64px;
}

.caption-title{
  display: flex; flex-direction: column; row-gap: 12px; align-items: center; justify-content: center;
}

.testimonials-card-container{
  display: flex; flex-direction: row; column-gap: 24px; justify-content: space-between; align-items: center;
}

.testimonials-card{
  background-color: #f0f0f0; padding: 40px; display: flex
  ; flex-direction: column; row-gap: 32px; justify-content: center; align-items: center; border-radius: 8px;
}

.client-says p{
  font-size: 20px; text-align: center;font-weight: 300; line-height: 32px;
}

.star{
  font-size: 24px; width: 100%; display: flex; flex-direction: row; column-gap: 8px;
  justify-content: center;
}

.testimonials-company-logo{
  width: 100%; height: auto; display: flex; flex-direction: row;
  column-gap: 24px; border-top: 1.5px solid; padding-top: 40px; border-color: #d9d9d9;align-items: start; justify-content: space-between;
}

.company-logo{
  width: 20%;
}

.company-logo img{
  width: 100%; background-size: cover;
}

/* contact-us */

.contact-us-section{
  background-image: url(about.jpeg);
  background-repeat: no-repeat; width: 100%; background-size: cover; padding: 0px;
}

.contact-us-container{
  width: 100%;
}

.overlay{
  padding: 100px; background-color: #01040ea6; align-items: center; display: flex; flex-direction: row; justify-content: space-between; column-gap: 150px;
}

.contact-us-caption{
  display: flex; flex-direction: column; row-gap: 12px; color: white; width: 100%;
}

.contact-us-description{
  display: flex; flex-direction: column; row-gap:40px;
}

.contact-us-title{
  display: flex; flex-direction: column; row-gap: 4px;
}

.contact-us-title p{
  font-size: 18px; line-height: 32px; font-weight: 300;
}

.link a{
  color: white;
}

.services-list{
  width: 100%; border-radius: 16px;
  display: flex; flex-direction: column; row-gap: 12px; 
  padding: 64px; background-color: #01040e; color: white;
}

.descripton h3{
  font-size: 28px; font-weight: 400;
}

.list-card{
  display: flex; flex-direction: column; row-gap: 20px;
}

.list{
  display: flex; flex-direction: row; justify-content: space-between; padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid; border-color: #f0f0f057;
}

.list h4{
  font-size: 18px; font-weight: 400;
}

/* footer */

.footer-container{
  width: 100%; padding: 100px; background-color: #01040e;
  display: flex; flex-direction: column; align-items: start;
  row-gap: 100px;
}


.footer-links{
  display: flex; flex-direction: row; justify-content: space-between; align-items: start; width: 100%;
}

.links{
  display: flex; flex-direction: column; row-gap: 20px;
}

.link-head h5{
  font-size: 18px; color: #e02727;font-weight: 500;
}

.tyey{
  list-style: none; display: flex; align-items: start; flex-direction: column; row-gap: 12px;
}

.tyey a{
  color: white; text-decoration: none; font-weight: 400;
}

.newsletter-form{
  display: flex; flex-direction: column; row-gap: 24px;
}

.form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form ::placeholder[type="email"] {
 font-size: 15px;
}

input::placeholder {
  color: #888;
  font-style: normal;
  font-size: 15px; 
  opacity: 1; 
  font-weight: 400;
}

.form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #e02727;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px; font-weight: 400;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: white;
  color: #e02727;
}

.builder-link h5{
  color: white; font-size: 18px; font-weight: 300; text-align: center;
}

.builder-link{
  display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;
}

.span a{
  color: white;
}

